apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-etrywcuv
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-etrywcuv:155b2d4a2639f37026c9bd16cd8d53f72945a3bd@sha256:c328565eead0a629d470119dc328f4e9112c3414de3e3235ecd35b43887b4942
          name: container-image
