apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-etrywcuv
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-etrywcuv:5663a2943e1979a3b95c2deec6c2ab8a01c8c9b2@sha256:034ac0dc294c203844d261c1a062f7361f316b97445dbcaadeb42bc17d0f332d
          name: container-image
